/*reset css*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header {
	background-color: #0020F4;
}
a {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 16px; 
}
ul {
	list-style: none;
}
nav	{
	display: inline-block;
	vertical-align: middle;
}
.logo {
	width: 115px;
	height: 65px;
	margin-left: 240px;
	margin-top: 40px;
}
.logo-parent {
	vertical-align: middle;
}
.list {
	margin-top: 37px;
	margin-right: 43px;
	margin-left: 488px;
	display: inline-block;
}
.box {
	background-color: #FFFFFF;
	border-radius: 28px;
	color: #171717;
	display: inline-block;
}
.container {
	margin-top: 133px;
	border-radius: 15px;
	width: 1195px;
	height: 600px;
}
.container h3 {
	font-size: 28px;
	color: #171717;
	width: 714px;
	height: 33px;
}
.blog {
	margin-top: 60px;
}
.blog p {
	margin-top: 60px;
	font-size: 16px;
}
.text-1 {
	padding-top: 60px;
	width: 951px;
	height: 177px;
	color: #171717;
}
.text-2 {
	padding-top: 18px;
	width: 951px;
	height: 281;
	color: #171717;
}
.text-3 {
	padding-top: 18px;
	width: 951px;
	height: 151px;
}
.box-2 {
	display: inline-block;
	border-radius: 28px;
	vertical-align: middle;
	text-align: center;
	background-color: #0A22F4;
	width: 341px;
	height: 55px;
	margin-left: 790px;
}
.contact {
	background-color: #0A22F4;
}
.contact h3 {
	color: #FFFFFF;
	font-size: 32px;
	width: 162px;
	height: 38px;
	margin-left: 240px;
	margin-top: 473px;
}
.contact p {
	margin-top: 30px;
	margin-left: 240px;
	color: #FFFFFF;
	font-size: 16px;
}
.contact iframe {
	width: 463px;
	height: 197px;
	margin-top: 58px;
	margin-left: 250px;
}
.contact-info {
	background-color: #0A22F4;
	display: inline-flex;
}
.picture {
	margin-left: 240px;
	margin-top: 92px;
	border-radius: 50px;
	background-color: #FFFFFF;
}
.contact-info span {
	font-size: 22px;
	color: #FFFFFF;
	margin-left: 30px;
	margin-top: 92px;
}